<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <add id="Antt_Test::level1" 
        title="Antt" 
        translate="title" 
        module="Antt_Test" 
        parent="Magento_Backend::content" 
        sortOrder="50" 
        dependsOnModule="Antt_Test" 
        resource="Antt_Test::level1"/>
      <add id="Antt_Test::level2" 
        title="Test" 
        translate="title" 
        module="Antt_Test" 
        parent="Antt_Test::level1" 
        sortOrder="10" 
        dependsOnModule="Antt_Test" 
        action="test/index" 
        resource="Antt_Test::level1"/>
                
                <add id="Antt_Test::test" 
        title="Test" 
        translate="title" 
        module="Antt_Test" 
        sortOrder="51" 
        dependsOnModule="Antt_Test" 
        resource="Antt_Test::test"/>
        
                <add id="Antt_Test::post" 
        title="Test" 
        translate="title" 
        module="Antt_Test" 
        parent="Antt_Test::test" 
        sortOrder="10" 
        dependsOnModule="Antt_Test" 
        action="test/post/index" 
        resource="Antt_Test::post"/>

        <add id="Antt_Test::test_config" 
        title="Test_Configuration" 
        translate="title" 
        module="Antt_Test" 
        parent="Antt_Test::test" 
        sortOrder="10" 
        dependsOnModule="Antt_Test" 
        action="adminhtml/system_config/edit/section/test" 
        resource="Antt_Test::test_config"/>
    </menu>
</config>

